@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="menu-page">
    <div id="welcome" style="text-align:center">
        <h1 class="display-4">Cowboy Cafe</h1>
        <p>
            We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
            Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
            Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
            You’ve had a hard ride - so take it easy with us.
        </p>
    </div>

    <form id="menu-filter">
        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" placeholder="keyword" style="margin-bottom: 5px"/>
            <input type="submit" value="Search" />
        </div>

        <div id="filters">
            <div id="item-type">
                @foreach (string type in Menu.MenuItemTypes)
                {
                    <label>
                        <input type="checkbox" name="ItemType" value=@type checked="@Model.ItemType.Contains(type)" />
                        @type
                    </label>
                }
            </div>
            <div id="calorie-filter">
                <h4>Calories</h4>
                Between
                <input name="CalorieMin" type="number" min="0" max="700" step="5" placeholder="min" value="@Model.CalorieMin" maxlength="4" />
                and
                <input name="CalorieMax" type="number" min="0" max="700" step="5" placeholder="max" value="@Model.CalorieMax" />
            </div>
            <div id="price-filter">
                <h4>Price</h4>
                Between
                <input name="PriceMin" type="number" min="0" max="8.00" step=".01" placeholder="min" value="@Model.PriceMin" />
                and
                <input name="PriceMax" type="number" min="0" max="8.00" step=".01" placeholder="max" value="@Model.PriceMax" />
            </div>
        </div>
    </form>
    <div id="menu">
        <div id="entrees">
            @if (Model.Entrees != null)
            {
                <h2>Entrees</h2>
                @foreach (IOrderItem item in Model.Entrees)
                {
                    <!-- <div style="display: flex; flex-direction: row; align-items: baseline; justify-content: center"> -->
                    <div class="item-display">
                        <h5>@item.Name</h5>
                        <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                        <div style=" margin:10px">@item.Price.ToString("C")</div>
                    </div>
                }
            }
        </div>
        <div id="sides">
            @if (Model.Sides != null)
            {
                <h2 style="text-align:center">Sides</h2>
                    @foreach (IOrderItem item in Model.Sides)
                    {
                        @if (item is Side side)
                        {
                            if (side.InStock)
                            {
                                <div class="side">
                                    <h5>@item.ToString()</h5>
                                    @if (side.SmallAvailable)
                                    {
                                        side.Size = Size.Small;
                                        <div class="item-display" style="margin:5px;">
                                            <p>Small</p>
                                            <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                            <div style=" margin:10px">@item.Price.ToString("C")</div>
                                        </div>
                                    }
                                    @if (side.MediumAvailable)
                                    {
                                        side.Size = Size.Medium;
                                        <div class="item-display" style="margin-left:20px">
                                            <p>Medium</p>
                                            <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                            <div style=" margin:10px">@item.Price.ToString("C")</div>
                                        </div>
                                    }
                                    @if (side.LargeAvailable)
                                    {
                                        side.Size = Size.Large;
                                        <div class="item-display" style="margin-left:20px">
                                            <p>Large</p>
                                            <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                            <div style=" margin:10px">@item.Price.ToString("C")</div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
            }
        </div>
        <div id="drinks">
            @if (Model.Drinks != null)
            {
                <h2 style="text-align:center">Drinks</h2>

                @foreach (IOrderItem item in Model.Drinks)
                    @if (item is Drink drink)
                    {
                        if (drink.InStock)
                        {
                            <div class="drink">
                                <h5>@item.ToString()</h5>
                                @if (drink.SmallAvailable)
                                {
                                    drink.Size = Size.Small;
                                    <div class="item-display" style="margin-left:20px">
                                        <p>Small</p>
                                        <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                        <div style=" margin:10px">@item.Price.ToString("C")</div>
                                    </div>
                                }
                                @if (drink.MediumAvailable)
                                {
                                    drink.Size = Size.Medium;
                                    <div class="item-display" style="margin-left:20px">
                                        <p>Medium</p>
                                        <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                        <div style=" margin:10px">@item.Price.ToString("C")</div>
                                    </div>
                                }
                                @if (drink.LargeAvailable)
                                {
                                    drink.Size = Size.Large;
                                    <div class="item-display" style="margin-left:20px">
                                        <p>Large</p>
                                        <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                        <div style=" margin:10px">@item.Price.ToString("C")</div>
                                    </div>
                                }
                            </div>
                        }

                    }

                }
        </div>
    </div>
</div>
