<!-- Index.cshtml
    Author: Regan Hale
    Content for Homepage of website, includes menu items-->
@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Cowboy Cafe</h1>
        <p>
            We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
            Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
            Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
            You’ve had a hard ride - so take it easy with us.
        </p>

        <h2>Entrees</h2>
        @foreach (IOrderItem item in Menu.Entrees())
        {
            <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center">
                <h5>@item.Name</h5>
                <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                <div style=" margin:10px">@item.Price.ToString("C")</div>
            </div>
        }
        <h2>Sides</h2>
        @foreach (IOrderItem item in Menu.Sides())
        {
            <h5>@item.ToString()</h5>
            <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                <p>Small</p>
                <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                <div style=" margin:10px">@item.Price.ToString("C")</div>
            </div>
            @if (item is Side side)
            {
                side.Size = Size.Medium;
             <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                    <p>Medium</p>
                    <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                    <div style=" margin:10px">@item.Price.ToString("C")</div>
              </div>
                side.Size = Size.Large;
              <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                    <p>Large</p>
                    <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                    <div style=" margin:10px">@item.Price.ToString("C")</div>
              </div>
            }
        }


        <h2>Drinks</h2>
        @foreach (IOrderItem item in Menu.Drinks())
        {
            <h5>@item.ToString()</h5>
            <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                <p>Small</p>
                <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                <div style=" margin:10px">@item.Price.ToString("C")</div>
            </div>
            @if (item is Drink drink)
            {
                drink.Size = Size.Medium;
                <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                    <p>Medium</p>
                    <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                    <div style=" margin:10px">@item.Price.ToString("C")</div>
                </div>
                drink.Size = Size.Large;
                <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                    <p>Large</p>
                    <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                    <div style=" margin:10px">@item.Price.ToString("C")</div>
                </div>
            }
        }
    </div>
