@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="menu-page">
    <div id="welcome" style="text-align:center">
        <h1 class="display-4">Cowboy Cafe</h1>
        <p>
            We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
            Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
            Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
            You’ve had a hard ride - so take it easy with us.
        </p>
    </div>

    <form id="menu-filter">
        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" placeholder="keyword" style="margin-bottom: 5px"/>
            <input type="submit" value="Search" />
        </div>

        <div id="filters">
            <div id="item-type">
                @foreach (string type in Menu.MenuItemTypes)
                {
                    <label>
                        <input type="checkbox" name="ItemType" value=@type checked="@Model.ItemType.Contains(type)" />
                        @type
                    </label>
                }
            </div>
            <div>
                <h4>Calories</h4>
                Between
                <input name="CalorieMin" type="number" min="0" max="700" step="5" placeholder="min" value="@Model.CalorieMin" maxlength="4" />
                and
                <input name="CalorieMax" type="number" min="0" max="700" step="5" placeholder="max" value="@Model.CalorieMax" />
            </div>
            <div>
                <h4>Price</h4>

                Between
                <input name="PriceMin" type="number" min="0" max="8.00" step=".01" placeholder="min" value="@Model.PriceMin" />
                and
                <input name="PriceMax" type="number" min="0" max="8.00" step=".01" placeholder="max" value="@Model.PriceMax" />
            </div>
        </div>
    </form>

    <div class="menu">
        @if (Model.Entrees != null)
        {
            <h2>Entrees</h2>
            @foreach (IOrderItem item in Model.Entrees)
            {
                <!-- <div style="display: flex; flex-direction: row; align-items: baseline; justify-content: center"> -->
                <div class="item-display">
                    <h5>@item.Name</h5>
                    <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                    <div style=" margin:10px">@item.Price.ToString("C")</div>
                </div>
            }
        }
        @if (Model.Sides != null)
        {
            <h2 style="text-align:center">Sides</h2>
            @foreach (IOrderItem item in Model.Sides)
            {
                @if (item is Side side)
                {
                    if (side.Available)
                    {
                        <h5>@item.ToString()</h5>
                        @if (side.SizesAvailable[0])
                        {
                            <div class="item-display" style="margin-left:20px">
                                <p>Small</p>
                                <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                <div style=" margin:10px">@item.Price.ToString("C")</div>
                            </div>
                        }
                        @if (side.SizesAvailable[1])
                        {
                            side.Size = Size.Medium;
                            <div class="item-display" style="margin-left:20px">
                                <p>Medium</p>
                                <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                <div style=" margin:10px">@item.Price.ToString("C")</div>
                            </div>
                        }
                        @if (side.SizesAvailable[2])
                        {
                            side.Size = Size.Large;
                            <div class="item-display" style="margin-left:20px">
                                <p>Large</p>
                                <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                                <div style=" margin:10px">@item.Price.ToString("C")</div>
                            </div>
                        }
                    }
                }
            }
        }

        @if (Model.Drinks != null)
        {
            <h2>Drinks</h2>
            @foreach (IOrderItem item in Model.Drinks)
            {
                <h5>@item.ToString()</h5>
                <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                    <p>Small</p>
                    <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                    <div style=" margin:10px">@item.Price.ToString("C")</div>
                </div>
                @if (item is Drink drink)
                {
                    drink.Size = Size.Medium;
                    <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                        <p>Medium</p>
                        <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                        <div style=" margin:10px">@item.Price.ToString("C")</div>
                    </div>
                    drink.Size = Size.Large;
                    <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:center; margin-left:20px">
                        <p>Large</p>
                        <div style="margin:10px; font-style:oblique">@item.Calories cal</div>
                        <div style=" margin:10px">@item.Price.ToString("C")</div>
                    </div>
                }
            }
        }
    </div>
</div>
